@section Scripts
{
    <script src="@Url.Content("~/Scripts/board-game-vm.js")"></script>
}

<table class="table table-striped">
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
    </tr>
</table>