@section Scripts
{
    <script src="@Url.Content("~/Scripts/board-game-vm.js")"></script>
}

<div class="searchbar">
    <form>
        <input class="form-control" data-bind="value: searchName" />
        <button class="btn btn-primary" data-bind="click: lookUpGameList">Search for games on board game geek</button>
    </form>
</div>

<!-- ko if: loadingGames -->
<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
<!-- /ko -->
<!-- ko if: !loadingGames() -->
<table class="table table-striped">
    <tr>
        <th></th>
        <th>Custom Name</th>
        <th>Played?</th>
        <th>Owned?</th>
        <th>My Rating</th>
        <th>Min Players</th>
        <th>Max Players</th>
        <th>BGG Rank</th>
        <th>BGG Rating</th>
        <th>Min Play Time</th>
        <th>Max Play Time</th>
        <th>Actions</th>
    </tr>
    <!-- ko foreach: boardGames -->
    <tr>
        <td><img src="" data-bind="attr: { src: imageLink }" /></td>
        <td data-bind="text: customName"></td>
        <td>
            <div class="checkbox"><label><input type="checkbox" data-bind="checked: played"></label></div>
        </td>
        <td>
            <div class="checkbox"><label><input type="checkbox" data-bind="checked: owned"></label></div>
        </td>
        <td data-bind="text: customRating"></td>
        <td data-bind="text: minPlayers"></td>
        <td data-bind="text: maxPlayers"></td>
        <td data-bind="text: rank"></td>
        <td data-bind="text: rating"></td>
        <td data-bind="text: minPlayingTime"></td>
        <td data-bind="text: maxPlayingTime"></td>
        <td>
            <div  class="action-container">
                <button type="button" class="btn btn-default" data-bind="click: viewGame">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: editGame">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default" data-bind="click: deleteGame">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
            
        </td>
    </tr>
    <!-- /ko -->
</table>
<!-- /ko -->

<!-- ko with: detailsGame -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: bggName"></h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Custom Name</label>
                        <input class="form-control" data-bind="value: customName">
                    </div>
                    <div class="form-group">
                        <label>Custom Rating</label>
                        <input class="form-control" data-bind="value: customRating">
                    </div>
                    <div class="form-group">
                        <label>Comments</label>
                        <textarea class="form-control" data-bind="value: comments" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /ko -->

<!-- ko with: detailsGame -->
<div class="modal fade" id="detailsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: bggName"></h4>
            </div>
            <div class="modal-body">
                <div>
                    <a data-bind="attr: { href: bggLink }">Visit Board Game Geek</a>
                    <a data-bind="attr: { href: redditLink }">Search /r/boardgames</a>
                    <div>
                        <label>Custom Name</label>
                        <p data-bind="text: customName"></p>
                    </div>
                    <div>
                        <label>Custom Rating</label>
                        <p data-bind="text: customRating"></p>
                    </div>
                    <div>
                        <label>Description</label>
                        <p data-bind="html: description"></p>
                    </div>
                    <!-- ko if: comments-->
                    <div>
                        <label>Comments</label>
                        <p data-bind="text: comments"></p>
                    </div>
                    <!-- /ko -->
                    <a data-bind="attr: { href: bggLink }">Visit Board Game Geek</a>
                    <a data-bind="attr: { href: redditLink }">Search /r/boardgames</a>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /ko -->

<!-- ko with: detailsGame -->
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-bind="text: bggName"></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this game?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: deleteGameConfirmed">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- /ko -->

<div class="modal fade" id="resultsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Search Results</h4>
            </div>
            <div class="modal-body">
                <!-- ko if: loadingSearchResults -->
                <div class="spinner">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                    <div class="rect4"></div>
                    <div class="rect5"></div>
                </div>
                <!-- /ko -->

                <!-- ko foreach: searchResults -->
                <div>
                    <span data-bind="text: name"></span>
                    <button type="button" class="btn btn-default btn-xs" data-bind="click: $root.addGame">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
                <!-- /ko -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
